[Desktop Entry]
Categories=Qt;KDE;Application;AudioVideo;Player;
Comment=Version 0.7.1
Comment[bg]=Версия 0.7.1
Comment[br]=Stumm 0.7.1
Comment[cs]=Verze 0.7.1
Comment[el]=Έκδοση 0.7.1
Comment[ga]=Leagan 0.7.1
Comment[he]=גרסה 0.7.1
Comment[it]=Versione 0.7.1
Comment[ja]=バージョン 0.7.1
Comment[nl]=Versie 0.7.1
Comment[pt]=Versão 0.7.1
Comment[sr]=Верзија 0.7.1
Comment[sr@Latn]=Verzija 0.7.1
Comment[xx]=xxVersion 0.7.1xx
Comment[zh_CN]=版本 0.7.1
DocPath=kaffeine/index.html
Encoding=UTF-8
Exec=kaffeine %U
GenericName=Media Player
GenericName[bg]=Медия плеър
GenericName[br]=Soner liesvedia
GenericName[cs]=Přehrávač médií
GenericName[da]=Medieafspiller
GenericName[de]=Medienwiedergabe
GenericName[el]=Αναπαραγωγέας πολυμέσων
GenericName[es]=Reproductor de medios
GenericName[fr]=Lecteur de média
GenericName[ga]=Seinnteoir Meán
GenericName[he]=נגן מדיה
GenericName[it]=Lettore multimediale
GenericName[ja]=メディアプレーヤ
GenericName[nl]=Mediaspeler
GenericName[pa]=ਵੀਡਿਓ ਪਲੇਅਰ
GenericName[pt]=Leitor Multimédia
GenericName[sr]=Медија плејер
GenericName[sr@Latn]=Medija plejer
GenericName[sv]=Mediaspelare
GenericName[xx]=xxMedia Playerxx
GenericName[zh_CN]=媒体播放器
Icon=kaffeine
InitialPreference=15
MimeType=application/ogg;application/x-ogg;application/sdp;application/smil;application/x-smil;application/streamingmedia;application/x-streamingmedia;     application/vnd.rn-realmedia;application/vnd.rn-realmedia-vbr;audio/aac;audio/x-aac;audio/m4a;audio/x-m4a;audio/mp1;audio/x-mp1;audio/mp2;audio/x-mp2;audio/mp3;audio/x-mp3;audio/mpeg;audio/x-mpeg;audio/mpegurl;audio/x-mpegurl;audio/mpg;audio/x-mpg;audio/rn-mpeg;audio/scpls;audio/x-scpls;audio/vnd.rn-realaudio; audio/wav;audio/x-pn-windows-pcm;audio/x-realaudio;audio/x-pn-realaudio;audio/x-ms-wma;audio/x-pls;audio/x-wav;video/mpeg;video/x-mpeg;video/x-mpeg2;video/ quicktime;video/vnd.rn-realvideo;video/x-ms-afs;video/x-ms-asf;video/x-ms-wmv;video/x-ms-wmx;video/x-ms-wvxvideo;video/x-msvideo;
Name=Kaffeine
Name[pa]=ਕੈਫੀਨ
Name[xx]=xxKaffeinexx
Terminal=false
Type=Application
